* {
    margin: 0;
    padding: 0;
}



.edit-player-tracker{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: blue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 80%;
    
    
    

}

.edit-dealer-tracker{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: blue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 80%;
   
    ;
    
    
    

}



.png-white-player {
border-radius: 6px;    
background: rgb(255, 255, 255)

;
}

.png-white{
border-radius: 6px;    
background: rgb(255, 255, 255)

}

.heading{
    color: white;
}

#title{
    grid-area: title;
    
    font-size: 50px;
    color: #fff;
    text-align: center;
  
    }

#h2-dealer{
    grid-area: h2-dealer;
 
    color: #fff;
    background-color: green;
  
    
}
#dealer-cards{
    grid-area: dealer-cards;

    background-color: green;
  
    

}#dealer-sum-tracker{
    grid-area: dealer-sum-tracker;
  

    background-color: green;
  

  
   



}
#h2-player-one{
    grid-area: h2-player-one;
    background-color: green;
    
  


    color: #fff;
    
  

}
#player1-cards{
    grid-area: player1-cards;
    
    background-color: green;
  
    
 

   

}
#player1-sum-tracker{
    grid-area: player1-sum-tracker;
    background-color: green;
   

  


}
#deal{
    grid-area: deal;
    font-size: 30px;
    background-color: rgb(49, 49, 49);
    color: #fff;
    text-align: center;
    border-radius: 30px;
    

  }
  

#hit{
    grid-area: hit;
    font-size: 30px;
    background-color: rgb(49, 49, 49);
    color: #fff;
    text-align: center;
    border-radius: 30px;
    size: 50%;
}
#stand{
    grid-area: stand;
    font-size: 30px;
    background-color: rgb(49, 49, 49);
    color: #fff;
    text-align: center;
    border-radius: 30px;
    size: 50%;
 
}


#background{

    background-image: url('poker-black-background-playing-card-symbols-pattern-blackjack-vector.jpeg');
    background-size: contain;
    
    width: 100%;
    height: 100vh;


   
  


  




   



      

   
    
    


  

        
    
    display: grid;
    grid-template-columns: repeat(28 1fr);
    grid-template-rows: repeat(32 1fr) ;
    grid-template-areas: 
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . title title title title . . . . . . . . . . . ."
    ". . . . . . . . . . . . title title title title . . . . . . . . . . . ."
    ". . . . . . . . . . . . dealer-cards dealer-cards h2-dealer dealer-sum-tracker . . . . . . . . . . . ."
    ". . . . . . . . . . . . dealer-cards dealer-cards h2-dealer dealer-sum-tracker . . . . . . . . . . . ."
    ". . . . . . . . . . . . player1-cards player1-cards h2-player-one player1-sum-tracker . . . . . . . . . . . ."
    ". . . . . . . . . . . . player1-cards player1-cards h2-player-one player1-sum-tracker . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . hit hit stand stand . . . . . . . . . . . ."
    ". . . . . . . . . . . . deal deal deal deal . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."

    
    ;
    



}




#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
    }
    
    
    
    
    #dialogbox {
    display: none;
    position: fixed;
    background: #000;
    border-radius:7px;
    width:550px;
    z-index: 10;
    }


#dialogbox > div{ background: #FFF; margin: 8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding: 10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background: #333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding: 10px; text-align:right; }
